{{- define "branch" -}}
{{- format .Format.Fg.Cyan -}}
{{- if .Git.Branch -}}
(
{{- if .Git.Dirty -}}
{{- format .Format.Fg.Yellow -}}
{{- else -}}
{{- format .Format.Fg.Green -}}
{{- end -}}
{{- ellipse .Git.Branch 20 -}}
{{- format .Format.Fg.Cyan -}}
)
{{- end -}}
{{- end -}}